/* thank you page design */
html, body{
  height: 100%;
}

body {
  background-image: url(http://imageshack.com/a/img911/3424/qMyVHf.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

html body .thank-you-wrapper .container{
  display: table; 
  height: 100%;
}

html body .thank-you-wrapper .container > .row{
  display: table-cell; 
  height: 100%; 
  vertical-align: middle;
}

.thank-you-wrapper{
  position: relative; 
  height: 100%; 
}

.thank-you-wrapper > .container{
  width:780px; 
  margin:0 auto;
}

.thank-you-wrapper{
  text-align: center;
}

.thank-you-page-content{
  position: relative; 
  float:left; width: 100%; 
  background: #f2f2f2; 
  padding:80px; 
  box-sizing: border-box;
}

.thank-you-page-content h1{
  position: relative; 
  width: 100%; 
  float: left; 
  margin-bottom: 10px; 
  padding-top: 110px; 
  font-size: 30px; 
  font-weight: 200; 
  line-height: 40px;
}

.thank-you-page-content h2{
  margin-bottom: 30px; 
  position: relative; 
  font-size: 30px; 
  font-weight: 200; 
  line-height: 40px;
}

.thank-you-page-content h1::before { 
  content: "\f00c"; 
  top: 0; 
  transform: translateX(-50%); 
  -webkit-transform: translateX(-50%); 
  -ms-transform: translateX(-50%); 
  left: 50%; position: absolute; 
  font-family: "FontAwesome"; 
  font-size:60px; 
  text-align: center; 
  float: left; 
  width: 100px; 
  color: green; 
  height: 100px; 
  text-align: center; 
  line-height: 100px; 
  border: 2px solid green;  
  border-radius:100%;  
  -webkit-border-radius:100%; 
  -ms-border-radius:100%;
}

.thank-you-page-content .btn{
  padding-top:13px; 
  padding-bottom:13px; 
  padding-right: 25px;
}
